.boiler-quote-main {
  height: calc(100vh - 18vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-options input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.quote-options input:active + .quote-cc {
  opacity: 0.9;
}

.quote-options input:checked + .quote-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.quote-cc {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  filter: drop-shadow(2px 4px 6px black);
}

.quote-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.quote-options .radio-item {
  margin: calc(100vw * 0.25 / 27);
  text-align: center;
  padding: calc(100vw * 0.5 / 27);
  max-width: 325px;
}

.quote-options .radio-item:hover{
  /* background: green; */
}

.cls-1,
.cls-2 {
  fill: none;
}
.cls-2 {
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 20px;
}

.quote-options .quote-options-label svg{
  width: 100%;
}
