.boiler-quote-main {
  height: calc(100vh - 18vh);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quote-options input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.quote-options input:checked + .quote-cc {
  background: #009640;
}

.quote-cc {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.quote-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.quote-options .radio-item {
  margin: calc(100vw * 0.25 / 27);
  text-align: center;
  padding: calc(100vw * 0.5 / 27);
  max-width: 325px;
}

.cls-1,
.cls-2 {
  fill: none;
}
.cls-2 {
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 20px;
}

.quote-options .quote-options-label {
  background: #ededed;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 10px #ededed;
  padding: 1rem;
  cursor: pointer;
}

.quote-options .quote-options-label:hover {
  background: #009640;
  transform: scale(1.1);
}

.quote-options .quote-options-label span {
  font-weight: 500;
  font-size: 1.2rem;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}

.quote-options .quote-options-label svg {
  width: 100%;
}

.quote-options .quote-options-label img {
  width: 100%;
}

.quote-options .quote-options-label svg .cls-1 {
  stroke: none;
}

.boiler-quote-main h3 {
  font-size: 2.9rem;
  font-weight: 500;
}

.boiler-quote-main p {
  font-size: 1.2rem;
  margin: 2rem 0;
}

.boiler-quote-main .submit_btn {
  background-color: #009640;
  color: #ffffff !important;
  border-radius: 50px;
  padding: 0.8rem 2rem !important;
  border: 0;
  font-size: 1.2rem;
}

.boiler-quote-main .submit_btn:hover {
  background: #000000;
}

.boiler-quote-main .submit_btn img {
  max-width: 25px;
  filter: invert(1);
  margin-top: -2px;
}

.boiler-quote-main .back_btn {
  background-color: #000000;
  color: #ffffff !important;
  border-radius: 50px;
  padding: 0.8rem 2rem !important;
  border: 0;
  font-size: 1.2rem;
  margin-right: 2rem;
}

.boiler-quote-main .refresh_btn {
  background: transparent;
  border: 0;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #747474;
}
.boiler-quote-main .refresh_btn_dark svg {
  width: 30px;
  fill: #ffffff;
  height: 30px;
}

.boiler-quote-main .refresh_btn_dark {
  background-color: #bf2c25;
  color: #ffffff !important;
  border-radius: 50px;
  padding: 0.8rem 2rem !important;
  border: 0;
  font-size: 1.2rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
}

.boiler-quote-main .refresh_btn svg {
  fill: #747474;
  width: 30px;
  height: 30px;
}

.boiler-quote-main .contact-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.boiler-quote-main .contact-details .phone-info,
.boiler-quote-main .contact-details .chat-support {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: start;
}

.boiler-quote-main .contact-details .phone-info div span {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
}

.boiler-quote-main .contact-details .chat-support div span {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
}

.boiler-quote-main .contact-details .phone-info img,
.boiler-quote-main .contact-details .chat-support img {
  height: 70px;
}

.postcode_input{
  background: #e4edff;
  border: 0;
  display: block;
  box-shadow: 0 0 10px #e4e4e4;
  padding: 10px 20px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}